.form {
  display: grid;
  justify-content: center;
  .form-check-input {
    border: 1px solid #021526;
  }
  .form-check-input:checked {
    background-color: #ffffff;
    border-color: #021526;
  }
  .form-check-input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #021526;
    border-radius: 50%;
    position: relative;
  }

  .form-check-input:checked::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #021526;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.info-section {
  display: grid;
  justify-items: start;
}
.add-photo {
  width: 788px;
  height: 120px;
  border: 1px dotted #021526;
}
.listing-input {
  width: 384px;
  height: 45px;
}
.listing-text-area {
  width: 788px;
  border: 1px solid #021526;
}
.form-floating > .form-control.listing-text-area {
  height: 120px;
}
.two-symb-error {
  color: red;
}

.two-symb-done {
  color: green;
}
.image-cont {
  position: relative;
}
.trash-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #021526;
  background-color: #ffffff;
  z-index: 555;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
