.form {
  display: grid;
  justify-content: center;
  .form-check-input {
    border: 1px solid #021526;
  }
  .form-check-input:checked {
    background-color: #ffffff;
    border-color: #021526;
  }
  .form-check-input:checked[type="radio"] {
    --bs-form-check-bg-image: url(../images/black-dot.svg);
  }
}
.info-section {
  display: grid;
  justify-items: start;
}
.add-photo {
  width: 788px;
  height: 120px;
  border: 1px dotted #021526;
}
.listing-input {
  width: 384px;
  height: 45px;
}
.listing-text-area {
  width: 788px;
  border: 1px solid #021526;
}
.form-floating > .form-control.listing-text-area {
  height: 120px;
}
.two-symb-error {
  color: red;
}

.two-symb-done {
  color: green;
}
