body {
  background-color: #ffffff;
  color: rgb(2, 21, 38);
  font-family: "FiraGO", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  font-style: normal;
}
.form-check-input:checked {
  background-color: #45a849;
  border-color: #45a849;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
